
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Square</h2>
<form method="post" action="">
    <div>
        <input type="text" size="40" name="a">
    </div>
    <div>
        <input type="text" size="40" name="h">
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>

